{% extends 'base.html' %} {% load static %} {% block content %}


<div class="container d-flex justify-content-center mt-5">

    <div class="row">

        <div class="col text-center">
            <h1>
                <bold>Error <span style="color: orange;">500</span>- Server Error</bold>
            </h1>
            <p>Oops. Something went wrong... Try to refresh the page. If an issue persists, please contact us through
                the contact page.<br> Click the button below to return home.</p>

            <div>
                <button class="btn btn-info btn-lg rounded-1 mt-3">
                    <a href="{% url 'home' %}">Return to Home</a>
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}