asgiref==3.5.2
cloudinary==1.29.0
crispy-bootstrap5==0.7
dj-database-url==1.0.0
dj3-cloudinary-storage==0.0.6
Django==3.2.15
django-crispy-forms==1.14.0
django-extensions==3.2.1
django-summernote==0.8.20.0
gunicorn==20.1.0
psycopg2==2.9.3
python-http-client==3.3.7
pytz==2022.2.1
sendgrid==6.9.7
sqlparse==0.4.2
starkbank-ecdsa==2.1.0
uuid==1.30
