{% extends 'base.html' %} {% load static %} {% block content %}

{% if user.is_superuser %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-primary"><a href="{% url 'manage' %}">Go Back</a></button>
        </div>

        <h1 class="text-center">Add Post</h1>
    </div>

    <!-- 

        title
        image
        car
        event
        location
        class result
        overall result
        content




    -->













</div>
        












{% else %}

<h1 class="text-center mt-5"> Sorry, you can't view this page! Click <a class="link-primary text-decoration-underline" href="/">Here</a> to go back!</h1>

{% endif %}







{% endblock %}