{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'style/pages/contact.css' %}">

<h1 class="text-center"> Contact Me:</h1>


<h3 class="text-center h3-contact">Have a query?<br> Get in touch with the contact form below!</h3>


{% block form %}

{% if submitted %}
<div class="contact-message alert alert-success"> Your message was successfully sent. Thanks again for getting in touch!</div>

{% else %}
<div class="row g-3">
    <div class="col-md-8 offset-md-4">
<form action="" enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input class="btn btn-primary btn-block mb-4" type="submit" value="submit"></td>
        </tr>
    </table>
</form>
</div>
</div>
{% endif %}




{% endblock form %}
{% endblock %}