{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'style/pages/contact.css' %}">

<!-- Contact Page -->
<h1 class="text-center"> Contact Me:</h1>

<h3 class="text-center h3-contact">Have a query?<br> Get in touch with the contact form below!</h3>

{% block form %}
<!-- Success message when form is successfully sent to the database -->
{% if submitted %}
<div class="contact-message alert alert-success"> Your message was successfully sent. Thanks again for getting in touch!
</div>

{% else %}

<div class="container mt-3 bg-light">
  <!-- Contact form -->
  <form action="" method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="fname" class="form-label contact-form-labels">First Name :</label>
      <input type="text" class="form-control" id="fname" name="fname" required>
    </div>
    <div class="col-md-6">
      <label for="lname" class="form-label contact-form-labels">Last Name :</label>
      <input type="text" class="form-control" id="lname" name="lname" required>
    </div>
    <div class="col-md-8">
      <label class="contact-form-labels form-label" for="validationDefaultEmail">Email Address</label>
      <input type="text" class="form-control" id="validationDefaultEmail" name="validationDefaultEmail"
        aria-describedby="inputGroupPrepend2" required>
    </div>
    <div class="col-md-4">
      <select class="form-select" aria-label="Query contact subject" id="select-query" name="select-query" required>
        <option value="" disabled selected>Query Type:</option>
        <option value="0">Question</option>
        <option value="1">Sponsorship</option>
        <option value="2">Other</option>
      </select>
    </div>
    <div class="col-md-12">
      <label class="contact-form-labels form-label" for="contact-textbox">Message</label>
      <textarea rows="5" class="form-control" id="contact-textbox" name="contact-textbox"
        placeholder="Enter your message here." required></textarea>

    </div>
    <div class="col-md-12 submit-button">
      <button class="btn btn-primary contact-submit" type="submit" value="submit">Submit form</button>
    </div>


  </form>
</div>

{% endif %}

{% endblock form %}
{% endblock %}

<!-- End of Contact Page -->