{% extends 'base.html' %} {% load static %} {% block content %}


{% if user.is_authenticated %}
<div class="container-fluid mt-3 bg-light">
    <div class="row">
        <div class="col-lg-8 mx-auto card">
            <h1 class="card-title text-center"> Edit My Profile </h1>

            <form action="" method="post">
                {% csrf_token %}
                <label class="form-label" for="edit-fname">First Name: </label>
                <input class="form-control" id="edit-fname" name="edit-fname" type="text" value="{{ user.first_name }}">
                <label class="form-label" for="edit-lname">Surname: </label>
                <input class="form-control" id="edit-lname" name="edit-lname" type="text" value="{{ user.last_name }}">
                <label class="form-label" for="edit-username">Username: </label>
                <input class="form-control" id="edit-username" name="edit-username" type="text" value="{{ user.username }}">
                <label class="form-label" for="edit-email">Email: </label>
                <input class="form-control" id="edit-email" name="edit-email" type="text" value="{{ user.email }}">

                <button class="col-sm-4 offset-sm-4 submit-button mt-3" type="submit" value="submit">Save</button>
            </form>


            <h4 class="mt-3">Useful Links:</h4>
            <div class="mt-2">
                <a class="link-primary text-decoration-underline" href="#">Logout</a>
            </div>
            <div class="mt-2">
                <a class="link-primary text-decoration-underline" href="/reset-password">Reset Password</a>
            </div>



        </div>
    </div>
</div>





{% endif %}



{% endblock %}