{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'style/pages/follow.css' %}">

<h1 class="text-center"> Follow Me:</h1>

<h3 class="text-center h3-contact">Want to follow me on other platforms?<br> Choose from the links below!</h3>



<div class="box">
    <div class="container my-5 d-flex flex-wrap justify-content-center">
     	<div class="row gy-3">
			 
			    <div class="col-lg-6 col-sm-6">
               
					<div class=" card box-part text-center bg-light social-cards">
            
						<div class="text">
							<span>Follow me<br>on Instagram!</span>
						</div>
                        <div class="title">
							<h4>Instagram</h4>
						</div>
                        
						<a href="http://www.instagram.com/" target="_blank">
                            <i style="cursor: pointer;" class="fab fa-2x fa-instagram"></i></a>
                        
					 </div>
				</div>	 
				
                <div class="col-lg-6 col-sm-6">
               
					<div class="card box-part text-center bg-success social-cards">
					    
					    
                        
						<div class="text">
							<span>Follow me<br>on LinkedIn!</span>
						</div>
                        <div class="title">
							<h4>LinkedIn</h4>
						</div>
                        
						<a href="http://www.linkedin.com/" target="_blank">
                            <i style="cursor: pointer;" class="fab fa-2x fa-linkedin-square"></i></a>
                    
					 </div>
				</div>	 
				
                <div class="col-lg-6 col-sm-6">
               
					<div class="card box-part text-center bg-warning social-cards">
                        
                        
						<div class="text">
							<span>Follow me<br>on Facebook!</span>
						</div>
                        <div class="title">
							<h4>Facebook</h4>
						</div>
                        
						<a href="http://www.facebook.com/" target="_blank"><i style="cursor: pointer;" class="fab fa-2x fa-facebook-square"></i></a>
                        
					 </div>
				</div>	 
					 
					 
				
                <div class="col-lg-6 col-sm-6">
               
					<div class="card box-part text-center bg-info social-cards">
                        
						<div class="text">
							<span>Follow me<br>on Github!</span>
						</div>
                        <div class="title">
							<h4>Github</h4>
						</div>
                        
						<a href="http://www.github.com/" target="_blank"><i style="cursor: pointer;" class="fab fa-2x fa-github-square"></i></a>
						
					 </div>
				</div>
		
		</div>		
    </div>
</div>




{% endblock %}