{% extends 'base.html' %} {% load static %} {% block content %}

{% if user.is_authenticated %}
<!-- User Profile Page -->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-8 mx-auto card">
            <h1 class="card-title text-center"> My User Profile </h1>
            <!-- User Profile details displayed here -->
            <div class="card-body d-inline p-2 bg-primary text-white"> <strong>Name:</strong> {{ user.first_name }}
                {{ user.last_name }}</div>
            <div class="card-body d-inline p-2 bg-dark text-white"> <strong>Username:</strong> {{ user.username }}</div>
            <div class="card-body d-inline p-2 bg-primary text-white"> <strong>Email:</strong> {{ user.email }}</div>
            <div class="card-body d-inline p-2 bg-dark text-white"> <strong>Number of Comments:</strong>
                {{ count_total_comments }}</div>
            <div class="card-body d-inline p-2 bg-primary text-white"> <strong>Number of Likes:</strong>
                {{ count_total_likes }}</div>
            <!-- Link to edit Profile page -->
            <button class="col-md-4 submit-button mt-3 mx-auto"><a href="/edit-profile">Edit my Profile</a></button>


            <div>
                <!-- Links to Logout or Reset password page-->
                <h4 class="mt-3">Useful Links:</h4>
                <div class="mt-2">
                    <a class="link-primary text-decoration-underline" href="/logout">Logout</a>
                </div>
                <div class="mt-2">
                    <a class="link-primary text-decoration-underline" href="{% url 'forget_password' %}">Reset
                        Password</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endif %}

{% endblock %}
<!-- End of Profile Page section -->