{% extends 'base.html' %} {% load static %} {% block content %}



<div class="container mt-3 bg-light">
    <div class="row">

        <div class="col-lg-8 mx-auto card">

            <h1 class="text-center card-title">{{ post_view.title }}</h1>

            <div class="col-lg-3 offset-9">
                <i class="px-2 fs-2 fas fa-thumbs-up"></i>
                <i class="px-2 fs-2 fas fa-comments"></i>
                <i class="px-2 fs-2 fas fa-share"></i>
            </div>
            


            <img class="image-fluid card-img" src="{{ post_view.featured_image.url }}" alt="" width="100%" height="75%">

            <div class="d-inline p-2 bg-primary text-white">Car: {{ post_view.car }}</div>
            <div class="d-inline p-2 bg-dark text-white">Event: {{ post_view.eventName }}</div>
            <div class="d-inline p-2 bg-primary text-white">Location: {{ post_view.location }}</div>
            <div class="d-inline p-2 bg-dark text-white">Class Result: {{ post_view.class_result }}</div>
            <div class="d-inline p-2 bg-primary text-white">Overall Result: {{ post_view.overall_result }}</div>
            

            <p class="text-center card-text">{{ post_view.content|safe }}</p>


        </div>
    </div>










</div>



{% endblock %}