{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'style/pages/reset-password.css' %}">


<div class="container outer-container">
    <h1 class="my-3">Reset Password</h1>
    <form class="m-4 reset-form">
        {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" />

        </div>

        <!-- Submit button -->
        <button type="button" class=" w-100 btn btn-primary btn-block mb-4">Reset Password</button>

        <!-- Registration buttons -->
        <div class="text-center">
            <p>Not a member? <a class="text-decoration-underline link-primary" href="/register">Register</a></p>
            <p>Already a member? <a class="text-decoration-underline link-primary" href="/login">Login</a></p>
        </div>
    </form>
</div>




{% endblock %}


