{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'style/pages/login.css' %}">

<!-- Password Reset Page -->
<div class="container">
    {% if messages %} {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %}
</div>
<div class="container outer-container">
    <h1 class="my-3">Reset Password</h1>
    <form class="m-4 reset-form" method="POST" action="/forget-password">
        {%  csrf_token %}
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Please enter your Username</label>
            <input type="text" name="username" required id="username" class="form-control"/>
        </div>
        <button type="submit" class=" w-100 btn btn-primary btn-block mb-4">Reset Password</button>

        <!-- Register buttons -->
        {% if not user.is_authenticated %}
        <div class="text-center">
            <p>Not a member? <a class="links mx-2" href="{% url 'register' %}">Register</a></p>
            <p>Already a member? <a class="links mx-2" href="{% url 'login' %}">Login</a></p>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
<!-- Password Reset Page -->