{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'style/pages/login.css' %}">
<!-- Password Reset Page -->
<div class="container">
    <!-- Modal displays when Password reset form is sent -->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <!-- Close Modal -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %}
</div>
<div class="container outer-container">
    <div class="continer">
        <!-- Password Confirmation form -->
        <form method="post" class="form" id="form">
            {% csrf_token %}
            <h4>Change Password</h4>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="new_password" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Reconfirm password</label>
                <input type="text" name="reconfirm_password" class="form-control">
            </div>
            {% if user_id %}
            <input type="hidden" name="user_id" value="{{user_id}}">
            {% else %}
            <h1>problem-> no user_id found</h1>
            {% endif %}
            <button class="btn" type="submit">Submit</button>

        </form>
    </div>
</div>
{% endblock %}

<!-- End of Password reset page -->