/* Contact form css file */

.h3-contact {
    padding-bottom: 10px;
}

.contact-message {
    max-width: 50%;
    margin: auto
}

form {
    padding: 2em;
}

input, select {
    width: 100%;
}

.submit-button {
display: flex;
justify-content: center;
}

.select-dropdown {
    margin-top: 20px;
}

@media all and (min-width:768px) {

.select-dropdown {
    margin-top: 31px;
}

}