/* Contact form css file */

.h3-contact {
    padding-bottom: 10px;
}

.contact-message {
    max-width: 50%;
    margin: auto
}

form {
    padding: 2em;
}

input, select {
    width: 100%;
}

.submit-button {
display: flex;
justify-content: center;
}

footer {
    margin-top:2rem ;
    position: relative !important;
}