/* Contact form css file */

/* H3 heading bottom padding */
.h3-contact {
    padding-bottom: 10px;
}

/* Styling for successful contact message/modal */
.contact-message {
    max-width: 50%;
    margin: auto
}

/* Forms and related inputs and buttons */
form {
    padding: 2em;
}

input, select {
    width: 100%;
}

.submit-button {
display: flex;
justify-content: center;
}

.select-dropdown {
    margin-top: 20px;
}

/* Media Queries */

/* Adjusts margin top for select drop down above 768px */
@media all and (min-width:768px) {

.select-dropdown {
    margin-top: 31px;
}

}