/* Index css file */

/* Makes the Paginator current number go red */


#paginator-red {
    color: red;
}
.heading{
  margin-left: -20px;
}
.stats{
  display: flex;
  margin-right: -20px;

}
.thumbs-up,.comment{
  padding-left: 8px;
  padding-right: 8px;

}

#comment-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    margin-top: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    padding: 4px 8px;
    text-align: center;
  }

  #like-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue; 
    margin-top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    padding: 4px 8px;
    text-align: center;
  }


