/* Login css file */

/* Login, Register and password reset form styling*/
.outer-container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}

.login-form,
.register-form,
.reset-form {
    width: 22em;
}

/* Custom styling for Authentication-related links */
.links, a.links {
    color: blue;
    
}

.links:hover {
    color: green;
}

/* Adjust padding of delete-account button on smaller screens */

@media all and (max-width:575px) {

    #delete-account {
        padding-left: 0;
    }

    #sub_butt {
        margin-bottom: 10px;
    }
}

/* Adjust the margin of delete-account button on larger screens */
@media all and (min-width:1400px) {

    #delete-account {
        margin-left: 60px;
    }
}