/* Post detail css file*/

/* CSS for styling icons and icon badges */
.icon-container {
    padding: 5px;
}

.icon-class {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 80%;
    outline: none;
    background: cornflowerblue;
    color: white;

}

#comment-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: 21px;
    width: 25px;
    height: 25px;
    color: black;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: large;

  }

  #like-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: 64px;
    width: 25px;
    height: 25px;
    color: black;
    font-size: large;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
  }

/* Featured Image proportions */
img {
  height: 75%;
  width: 100%;
}

/* text content margin top */
#post-content {
  margin-top: 18px;
}

/* Length adjustments for edit comment input*/
  .edit-comment {

    width: calc(100% - 300px);
  }


/* Media Queries for badge icons above screensize 1010px */
  @media all and (min-width:1010px) {
    
    #comment-badge {

        top: 78px;
    }

    #like-badge {

        top: 76px;

    }
  }

  /* Adjusts edit comment input on screens up to 575px */
  @media all and (max-width:575px) {

    .edit-comment {

      width: calc(100% - 100px);
    }
  }