{% load static %}
<!DOCTYPE html>
<html class="min-vh-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Rally Blog website by Christian Brown">
    <meta name="keywords" content="rally, motorsport, rallying">
    <!-- Favicon Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
</head>

<body class="d-flex flex-column">
    <header class="border-bottom">
        <!-- Navbar -->
        <div class="container-fluid sticky-top nav-colour">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="{% url 'home' %}" class="navbar-brand"><span class="fs-2 brand-name">RallyBlog</span><span class="ms-1"><i
                                class="fas fa-car fa-lg"></i></span></a>
                    <button role="button" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#toggle-mobile-menu" aria-controls="toggle-mobile-menu" aria-expanded="false"
                        aria-label="toggle-navigation">
                        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                    </button>
                    <!-- Links in the Navbar -->
                    <div class="collapse navbar-collapse" id="toggle-mobile-menu">
                        <ul class="navbar-nav text-center ms-auto">
                            {% if user.is_superuser %}
                            <li class="nav-item ms-2">
                                <a id="manage" class="nav-link active" href="{% url 'manage' %}">Manage</a>
                            </li>
                            {% endif %}
                            <li class="nav-item ms-2">
                                <a class="nav-link active" href="{% url 'home' %}">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{% url 'login' %}">
                                    Register/Login</a>
                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{% url 'profile' %}">
                                    Profile</a>
                            </li>
                            {% endif %}
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{% url 'follow' %}">Follow Me</a>
                            </li>
                            <li class="nav-item ms-2 d-md-inline">
                                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- End of Nav Bar Section -->

    <!-- Post Content displays here-->
    {% block content %} {% endblock %} {% block aboutContent %} {% endblock %}

    <!-- Footer -->
    <footer class="text-center border-top mt-auto footer-colour">
        <!-- Social -->
        <div class="text-center p-3 w-50 m-auto social-icons text-light">
            <div class="d-flex justify-content-around ">
                <div class="facebook">
                    <a href="https://www.facebook.com/christian.brown.100" target="_blank"><i style="cursor: pointer;"
                            class="fab fa-2x fa-facebook-square"></i></a>
                </div>
                <div class="github">
                    <a href="https://github.com/Robrowno" target="_blank"><i style="cursor: pointer;"
                            class="fab fa-2x fa-github-square"></i></a>
                </div>
                <div class="instagram">
                    <a href="https://www.instagram.com/cbrownrally/" target="_blank">
                        <i style="cursor: pointer;" class="fab fa-2x fa-instagram"></i></a>
                </div>
                <div class="linkedIn">
                    <a href="https://www.linkedin.com/in/christian-brown-ba7741171/" target="_blank">
                        <i style="cursor: pointer;" class="fab fa-2x fa-linkedin-square"></i></a>
                </div>
                <div class="developer-name noselect position-absolute end-0 px-5">
                    <h2>Christian Brown</h2>
                </div>
            </div>
        </div>
        <!-- Social ends -->
    </footer>
    <!-- Footer ends-->
</body>
<script src="{% static 'script/base.js' %}"></script>

</html>